<!DOCTYPE html>
<style>
    body {
        background-image: url("https://i.ytimg.com/vi/8myYyMg1fFE/maxresdefault.jpg");
        background-color: #cccccc;
        color: #ffffff;
        text-shadow: 1px 1px #000000, -1px 1px #000000, 1px -1px #000000, -1px -1px #000000
    }
</style>

<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <div ng-app="myApp" ng-controller="cntrl">
        <form>
            <!--Owner ID: <input type="text" ng-model="id" name="ownerid"-->
            Owner Name: <input type="text" ng-model="name" name="ownername" ng-disabled="obj.idisable"> Owner Type:
            <input
                type="text" ng-model="type" name="ownertype">
                <input type="button" value="{{btnName}}" ng-click="insertOwner()"> {{msg}}
                <input type="button" value="Display All" ng-click="displayOwners()">
        </form>
        <table>
            <thead>
                <tr>
                    <th>ID</td>
                        <th>Name</th>
                        <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="owner in data">
                    <td>{{owner.id}}</td>
                    <td>{{owner.name}}</td>
                    <td>{{owner.type}}
                        <td><button ng-click="deleteOwner(owner.id);">Delete</button></td>
                        <td><button ng-click="editOwner(owner.id);">Edit</button></td>

                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('cntrl', function ($scope, $http) {
            $scope.obj = { 'idisable': false };
            $scope.btnName = "Insert";

            $scope.insertOwner = function () {
                $http.post("/owners/add", { 'name': $scope.name, 'type': $scope.type })
                    .success(function () {
                        $scope.msg = "Data Inserted";
                        $scope.displayOwners();
                    })
            }

            $scope.displayOwners = function () {
                $http.get("/owners/all")
                    .success(function (data) {
                        $scope.data = data
                    })
            }

            $scope.deleteOwner = function (id) {
                var url = "/owners/delete/";
                $http.delete(url.concat(id))
                    .success(function () {
                        $scope.msg = "Data Deletion successful";
                        $scope.displayOwners();
                    })
            }

            $scope.editOwner = function (id) {
                var url = "/owners/edit/"
                $http.put(url.concat(id), { 'name': $scope.name, 'type': $scope.type })
                    .success(function () {
                        $scope.msg = "Data Edit successful";
                        $scope.displayOwners();
                    })
                $scope.displayOwners();
            }
        });
    </script>
</body>

</html>