<!DOCTYPE html>
<head>
    <style>
        body {
            /*background-image: url("https://i.ytimg.com/vi/8myYyMg1fFE/maxresdefault.jpg");*/
            background-color: #cccccc;
            color: #ffffff;           
        }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".btn").click(function(){
                $("#myModal").modal('show');
            });
        });
    </script>
</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
    <div w3-include-html="topnav.html"></div>
    <script> w3IncludeHTML(); </script>
     <legend>Input your Location Data</legend>
    <div ng-app="myApp" ng-controller="cntrl">       
       <!--begin modal-->
       <div class="bs">
            <!-- Modal HTML -->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            Location:
                        <div style="padding-top: 10px; padding-bottom: 5px;">
                          <input type="text" ng-model="latitude" name="locLat">
                        </div>
                        <div style="padding-top: 10px; padding-bottom: 5px;">
                            Longitude:
                        </div>
                         <input type="text" ng-model="longitude" name="locLong">
                        <div style="padding-top: 10px; padding-bottom: 5px;">
                            State:
                        </div>
                         <input type="text" ng-model="state" name="locState">
                        <div style="padding-top: 10px; padding-bottom: 5px;">
                            County:
                        </div>
                            <input type="text" ng-model="county" name="locCounty">
                        <div style="padding-top: 10px; padding-bottom: 5px;">
                            <input type="button" class="btn btn-primary" value="{{btnName}}" ng-click="insertLocation()"> {{msg}}
                        </div>    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
        <!--end modal-->
      <div class="w3-center">
            <a href="#myModal" class="w3-center btn btn-primary">Manual Input</a>        
            <input type="button" class="w3-button w3-blue" value="Display All" ng-click="displayLocations()">    
        </div>  
        <table class="table">
            <thead>
                <tr>
                    <th>ID</td>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>State</th>
                    <th>County</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="location in data">
                    <td>{{location.id}}</td>
                    <td>{{location.latitude}}</td>
                    <td>{{location.longitude}}</td>
                    <td>{{location.state}}</td>
                    <td>{{location.county}}
                        <td><button  class="btn btn-danger" ng-click="deleteLocation(location.id);">Delete</button></td>
                        
                        <td>
                            <a href="#" class="w3-button w3-blue" data-toggle="modal"  ng-click="setEditInfo(location)" data-target="#basicModal">Edit</a>
                        </td>                         
                        <!-- Start Edit Modal -->
                        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Edit</h4>
                                    </div>
                                    <div class="modal-body">
                                         Latitude:<input ng-model="editLat">
                                         Longitude:<input ng-model="editLong">
                                         State:<input ng-model="editState">
                                         County:<input ng-model="editCounty">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="w3-button w3-blue" data-dismiss="modal">Close</button>
                                        <button type="button" class="w3-button w3-blue" ng-click="editLocation(editId)">Edit</button>{{msg}}
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <!-- Exit Edit Modal -->
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('cntrl', function ($scope, $http) {
            $scope.obj = { 'idisable': false };
            $scope.btnName = "Insert";

            $scope.insertLocation = function () {
                $http.post("/location/add", { 'latitude': $scope.latitude, 'longitude': $scope.longitude, 'state': $scope.state, 'county':$scope.county })
                    .success(function () {
                        $scope.msg = "Data Inserted";
                        $scope.displayLocations();
                    })
            }
            $scope.setEditInfo = function (location) {
                $scope.editLat = location.latitude;
                $scope.editLong = location.longitude;
                $scope.editState = location.state;
                $scope.editCounty = location.county;
                $scope.editId = location.id;
            }

            $scope.displayLocations = function () {
                $http.get("/location/all")
                    .success(function (data) {
                        $scope.data = data
                    })
            }

            $scope.deleteLocation = function (id) {
                var url = "/location/delete/";
                $http.delete(url.concat(id))
                    .success(function () {
                        $scope.msg = "Data Deletion successful";
                        $scope.displayLocations();
                    })
            }

            $scope.editLocation = function (id) {
                var url = "/location/edit/"
                $http.put(url.concat(id), { 'latitude': $scope.editLat, 'longitude': $scope.editLong, 'state': $scope.editState, 'county': $scope.editCounty })
                    .success(function () {
                        $scope.msg = "Data Edit successful";
                        $scope.displayLocations();
                    })
                     .error(function () {
                        $scope.msg = "Data Edit Failed";
                    })
                $scope.displayLocations();
            }
        });
    </script>
</body>

</html>