<!DOCTYPE html>
<head>
    <style>
        body {
            /*background-image: url("https://i.ytimg.com/vi/8myYyMg1fFE/maxresdefault.jpg");*/
            background-color: #cccccc;
            color: #ffffff;           
        }
        .btn-bs-file{
            position:relative;
        }
        .btn-bs-file input[type="file"]{
            position: absolute;
            top: -9999999;
            filter: alpha(opacity=0);
            opacity: 0;
            width:0;
            height:0;
            outline: none;
            cursor: inherit;
        }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(".btn").click(function(){
                $("#myModal").modal('show');
            });
        });
    </script>
</head>

<body>
<div w3-include-html="topnav.html"></div>
<script>
    w3IncludeHTML();
</script>
    <legend>Input your Rainfall Data</legend>
    <div ng-app="myApp" ng-controller="cntrl">
        
        <!--begin modal-->
        
        <div class="bs">
        <!-- Button HTML (to Trigger Modal) -->
        
            <!-- Modal HTML -->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="form-group">
                                Location ID:    <!--input type="text" ng-model="location_id"-->
                                <select ng-model="location_id">
                                    <option ng-repeat="location in locations" value="{{location.id}}">ID {{location.id}}:({{location.latitude}}, {{location.longitude}})</option> 
                                </select>
                            </div>
                            <div class="form-group">
                                Rainfall Amount: <input type="text" ng-model="amount"> 
                            </div>
                            <div class="form-group">
                                Normal Amount:   <input type="text" ng-model="normal_amount">
                            </div>
                            <div class="form-group">
                            Date:            <input type="date" ng-model="rdate">
                            </div>
                            <div class="form-group">
                                <input type="button" class="btn btn-primary" value="{{btnName}}" ng-click="insertRain()"> {{msg}}
                            </div>  
                        </div>
                    
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
        <!--end modal-->  
        <div class="w3-center">
            <div class="w3-center">
                <a href="#myModal" class="w3-center btn btn-primary">Manual Input</a>        
                <input type="button" class="w3-button w3-blue" value="Display All" ng-click="displayRain()">    
            </div> 
        </div>  
        <table class="table">
            <thead>
                <tr>
                    <th>Location</td>
                    <th>Amount</th>
                    <th>Normal Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rainfall in data track by $index">
                    <td>{{rainfall.location_id}}</td>
                    <td>{{rainfall.amount}}</td>
                    <td>{{rainfall.normal_amount}}</td>
                    <td>{{rainfall.rdate}}</td>
                    <td ng-if="rainfall.location_id"><button class="btn btn-danger" ng-click="deleteRainfall(rainfall.location_id, rainfall.rdate);">Delete</button></td>
                    <td ng-if="rainfall.location_id"><a href="#" class="w3-button w3-blue" data-toggle="modal"  ng-click="setEditInfo(rainfall)" data-target="#basicModal">Edit</a></td>  
                        
                        <!-- Start Edit Modal -->
                        <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Basic Modal</h4>
                                    </div>
                                    <div class="modal-body">
                                         Amount:<input ng-model="editRainAmount">
                                         Normal Amount:<input ng-model="editNormalAmount">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="w3-button w3-blue" data-dismiss="modal">Close</button>
                                        <button type="button" class="w3-button w3-blue" ng-click="editRainfall(editId, editDate)">Edit</button>{{msg}}
                                    </div>
                                </div>
                            </div>                        
                        </div>
                        <!-- Exit Edit Modal -->
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('cntrl', function ($scope, $http, $filter) {
            $http.get('/location/all').success(function (data) { $scope.locations = data; });
            $scope.btnName = "Insert";
            
            $scope.insertRain = function () {
                $date = $filter('date')($scope.rdate, 'yyyy-MM-dd');
                $http.post("/rainfall/add", {'location_id': $scope.location_id, 'amount': $scope.amount, 'normal_amount': $scope.normal_amount, 'rdate': $date})
                    .success(function () {
                        $scope.msg = "Data Inserted";
                        $scope.displayRain();
                    })
            }

            $scope.displayRain = function () {
                $http.get("/rainfall/all")
                    .success(function (data) {
                        $scope.data = data
                    })
            }
             $scope.setEditInfo = function (rainfall) {
                $scope.editRainAmount = rainfall.amount;
                $scope.editNormalAmount = rainfall.normal_amount;
                $scope.editDate = rainfall.rdate;
                $scope.editId = rainfall.location_id;
            }
            $scope.deleteRainfall = function (id, rdate) {               
                var url = "/rainfall/delete/";
                url = url.concat(id);
                url = url.concat("/");
                url = url.concat(rdate);
                $http.delete(url)
                    .success(function () {
                        $scope.msg = "Data Deletion successful";
                        $scope.displayRain();
                    })
            }

            $scope.editRainfall = function (editId, editDate) {
                var url = "/rainfall/edit/";
                url = url.concat(editId);
                url = url.concat("/");
                url = url.concat(editDate);
                $http.put(url, {'amount': $scope.editRainAmount, 'normal_amount': $scope.editNormalAmount})
                    .success(function () {
                        $scope.msg = "Data Edit successful";
                        $scope.displayRain();
                    })
            }
        });
    </script>
</body>

</html>