<!DOCTYPE html>
<head>
    <style>
        body {
            /*background-image: url("https://i.ytimg.com/vi/8myYyMg1fFE/maxresdefault.jpg");*/
            background-color: #cccccc;
            color: #ffffff;           
        }
        .btn-bs-file{
            position:relative;
        }
        .btn-bs-file input[type="file"]{
            position: absolute;
            top: -9999999;
            filter: alpha(opacity=0);
            opacity: 0;
            width:0;
            height:0;
            outline: none;
            cursor: inherit;
        }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- W3 For Modal -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- CVS Upload -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
     <script type="text/javascript">
        $(document).ready(function(){
            $(".btn").click(function(){
                $("#myModal").modal('show');
            });
        });
    </script>
    <script>
    $(document).ready(function(){
        $('button').click(function(){
            var data = $('#txt').val();
            if(data == '')
                return;            
            JSONToCSVConvertor(data, "Well Recording Data", true);
        });
    });
    function JSONToCSVConvertor(JSONData, ReportTitle, ShowLabel) {       
        var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;        
        var CSV = '';    
        CSV += ReportTitle + '\r\n\n';

        //This condition will generate the Label/Header
        if (ShowLabel) {
            var row = "";
            for (var index in arrData[0]) {
                row += index + ',';
            }

            row = row.slice(0, -1);
            CSV += row + '\r\n';
        }
        for (var i = 0; i < arrData.length; i++) {
            var row = "";
            for (var index in arrData[i]) {
                row += '"' + arrData[i][index] + '",';
            }
            row.slice(0, row.length - 1);
            CSV += row + '\r\n';
        }

        if (CSV == '') {        
            alert("Invalid data");
            return;
        }   
        var fileName = "MyReport_";
        fileName += ReportTitle.replace(/ /g,"_");   
        var uri = 'data:text/csv;charset=utf-8,' + escape(CSV);      
        var link = document.createElement("a");    
        link.href = uri;        
        link.style = "visibility:hidden";
        link.download = fileName + ".csv";
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
    </script>
</head>
<body>
    <div w3-include-html="topnav.html"></div>
    <script> w3IncludeHTML(); </script>   

    <div ng-app="myApp" ng-controller="cntrl">             
        
        <div id="dvImportSegments" class="fileupload">
            <fieldset>
                <legend>Upload your CSV File</legend>
                    Transducer ID:<select ng-model="upload_id">
                         
                        <option ng-repeat="transducer in transducers" value="{{transducer.id}}"> ID{{transducer.id}}: {{transducer.name}}
                        </option>
                 </select>
                <div class="col-sm-12" style="margin-bottom:20px; padding-top: 10px; padding-bottom: 5px;">
                    <label class="btn-bs-file w3-button w3-blue">
                         Upload File
                       <input type="file" name="File Upload" id="txtFileUpload" accept=".csv"/>
                    </label>
                </div>
            </fieldset>
        </div>
         <!--begin modal-->
       <div class="bs">
            <!-- Modal HTML -->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <legend>Input Your Recording Data Manually</legend>
                             <div class="form-group" style="margin-bottom:20px; padding-left: 15px;">  
                                <label for="TransID">*Transducer ID:&emsp;</label>
                                <input type="text" class="form-control" id="text"  placeholder="Enter Transducer ID" ng-model="transducer_id">         
                                </div> 
                                <div class="form-group" style="margin-bottom:20px; padding-left: 15px;">  
                                <label for="Temperature">Temperature:&emsp;</label>
                                <input type="text" class="form-control" id="text"  placeholder="Enter temperature" ng-model="temperature">         
                                </div>  
                                <div class="form-group" style="margin-bottom:20px; padding-left: 15px;">  
                                <label for="Conductivity">Conductivity:&emsp;</label>
                                <input type="text" class="form-control" id="text" placeholder="Enter conductivity" ng-model="conductivity">
                                </div>
                                <div class="form-group" style="margin-bottom:20px; padding-left: 15px;">   
                                <label for="Pressure">Pressure:&emsp;</label>
                                <input type="text" class="form-control" id="text" placeholder="Enter pressure" ng-model="pressure">
                                </div>
                                <div class="form-group" style="margin-bottom:20px; padding-left: 15px;">  
                                <label for="Salinity">Salinity:&emsp;</label>
                                <input type="text" class="form-control" id="text" placeholder="Enter salinity" ng-model="salinity">
                                </div>
                                <div class="form-group" style="margin-bottom:20px; padding-left: 15px;">  
                                <label for="TDS">TDS:&emsp;</label>
                                <input type="text" class="form-control" id="text"  placeholder="Enter TDS" ng-model="tds">
                                </div>  
                            <div class="form-group" style="margin-bottom:20px; padding-left: 15px;">   
                                <label for="TDS">*Recording Date:&emsp;</label>
                                <input type="datetime-local" class="form-control" id="datetime-local"  ng-model="recording_time" placeholder="Enter Recording Date">
                            </div>   
                                <input type="button" class="btn btn-primary" value="{{btnName}}" ng-click="insertRecording()"> {{msg}}                               
                            </form>
                            <div class="modal-footer">
                            <button type="button" class="w3-button w3-blue" data-dismiss="modal">Close</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>   
        <div class="w3-center">
            <a href="#myModal" class="w3-center btn btn-primary">Manual Input</a>        
            <input type="button" class="w3-button w3-blue" value="Display All" ng-click="displayRecordings()"> 
            <div style="padding-top:20px;">
            <button class='w3-button w3-blue gen_btn'>Generate File</button>  
            <p>**Note: Data must be displayed first!**</p>
            <textarea ng-hide="true" id="txt" class='txtarea'>{{data}}</textarea>    
            </div>
        </div> 
        <!--end modal-->
        <div>
            <fieldset>
                <legend>Search</legend>
                Transducer ID:<input type="number" ng-model="id_search">
                Start:<input type="datetime-local" ng-model="start_time_search">
                End:<input type="datetime-local" ng-model="end_time_search">
                <input type="submit" ng-click="searchRecordingsByID(id_search)">Search By ID
                <input type="submit" ng-click="searchRecordingsByTime(id_search, start_time_search, end_time_search)">Search By ID And Time
            </fieldset>
        </div>

        <div>
            <fieldset>
                <legend>Calculate Pearson's Correlation Coefficient</legend>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Index</th>
                            <th>Transducer ID</th>
                            <th>Temperature</th>
                            <th>Conductivity</th>
                            <th>Pressure</th>
                            <th>Salinity</th>
                            <th>TDS</td>
                            <th>Recording Time</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{pearsonOne}}</td>
                            <td>{{data[pearsonOne].transducer_id}}</td>
                            <td>{{data[pearsonOne].temperature}}</td>
                            <td>{{data[pearsonOne].conductivity}}</td>
                            <td>{{data[pearsonOne].pressure}}</td>
                            <td>{{data[pearsonOne].salinity}}</td>
                            <td>{{data[pearsonOne].tds}}</td>
                            <td>{{data[pearsonOne].recording_time}}</td>
                        </tr>
                        <tr>
                            <td>{{pearsonTwo}}</td>
                            <td>{{data[pearsonTwo].transducer_id}}</td>
                            <td>{{data[pearsonTwo].temperature}}</td>
                            <td>{{data[pearsonTwo].conductivity}}</td>
                            <td>{{data[pearsonTwo].pressure}}</td>
                            <td>{{data[pearsonTwo].salinity}}</td>
                            <td>{{data[pearsonTwo].tds}}</td>
                            <td>{{data[pearsonTwo].recording_time}}</td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" class="w3-button w3-blue" value="Calculate" ng-click="pearsonCorrelation(data, pearsonOne, pearsonTwo)">
                Result: {{pearsonResult}}
            </fieldset>

        <table class ="table">
            <thead>
                <tr>
                    <th>Transducer ID</td>
                    <th>Temperature</th>
                    <th>Conductivity</th>
                    <th>Pressure</th>
                    <th>Salinity</th>
                    <th>TDS</td>
                    <th>Recording Time</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="recording in data">
                    <td>{{recording.transducer_id}}</td>
                    <td>{{recording.temperature}}</td>
                    <td>{{recording.conductivity}}</td>
                    <td>{{recording.pressure}}</td>
                    <td>{{recording.salinity}}</td>
                    <td>{{recording.tds}}</td>
                    <td>{{recording.recording_time}}</td>
                    <td ng-if="recording.transducer_id"><button class="btn btn-danger" ng-click="deleteRecording(recording.transducer_id, recording.recording_time);">Delete</button></td>

                    <!-- EDIT MODAL IS NOT IMPLEMENTED -->
                    <!--td ng-if="recording.transducer_id"><button class="btn btn-primary" ng-click="editRecording(recording.transducer_id, recording.recording_time);">Edit</button></td-->
                    <!-- EVERYTHING ELSE WORKS -->

                    <td ng-if="recording.transducer_id"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#rainModal" ng-click="getLocation(recording.transducer_id, recording.recording_time)">Rainfall</button></td>
                    <td ng-if="recording.transducer_id"><button class="btn btn-primary" ng-click="setPearsonOne($index)">Set Pearson #1</button></td>
                    <td ng-if="recording.transducer_id"><button class="btn btn-primary" ng-click="setPearsonTwo($index)">Set Pearson #2</button></td>
                </tr>
            </tbody>
        </table>

        <!-- Start Rain Modal -->

        <div id="rainModal" class="modal">
            <div class="w3-container w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                <div class="modal-header">
                    Nearest Rainfall For {{rainfall.rdate}}
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Latitude</th>
                            <th>Longitude</th>
                            <th>Amount</th>
                            <th>Normal Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{rainfall.latitude}}</td>
                            <td>{{rainfall.longitude}}</td>
                            <td>{{rainfall.amount}}</td>
                            <td>{{rainfall.normal_amount}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                    <!-- Close modal -->
                    <input type="submit" value="Close" data-toggle="modal" data-target="#rainModal"></button>
                </div>
            </div>
        </div>           
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('cntrl', function ($scope, $http, $filter, $window) {
            $http.get('/transducers/all').success(function (data) { $scope.transducers = data; });
            $scope.btnName = "Insert";

            $scope.setPearsonOne = function (index) {
                $scope.pearsonOne = index;
            }

            $scope.setPearsonTwo = function (index) {
                $scope.pearsonTwo = index;
            }

            $scope.pearsonCorrelation = function (json, p1, p2) {

                var prefs = [[],[]]; 

                prefs[0].push(parseFloat(json[p1]['temperature']));
                prefs[0].push(parseFloat(json[p1]['conductivity']));
                prefs[0].push(parseFloat(json[p1]['pressure']));
                prefs[0].push(parseFloat(json[p1]['salinity']));
                prefs[0].push(parseFloat(json[p1]['tds']));

                prefs[1].push(parseFloat(json[p2]['temperature']));
                prefs[1].push(parseFloat(json[p2]['conductivity']));
                prefs[1].push(parseFloat(json[p2]['pressure']));
                prefs[1].push(parseFloat(json[p2]['salinity']));
                prefs[1].push(parseFloat(json[p2]['tds'])); 
                
                p1 = 0;
                p2 = 1;

                var si = [];

                for (var key in prefs[p1]) {
                    if (prefs[p2][key]) si.push(key);
                }

                var n = si.length;

                if (n == 0) return 0;

                var sum1 = 0;
                for (var i = 0; i < si.length; i++) sum1 += prefs[p1][si[i]];

                var sum2 = 0;
                for (var i = 0; i < si.length; i++) sum2 += prefs[p2][si[i]];

                var sum1Sq = 0;
                for (var i = 0; i < si.length; i++) {
                    sum1Sq += Math.pow(prefs[p1][si[i]], 2);
                }

                var sum2Sq = 0;
                for (var i = 0; i < si.length; i++) {
                    sum2Sq += Math.pow(prefs[p2][si[i]], 2);
                }

                var pSum = 0;
                for (var i = 0; i < si.length; i++) {
                    pSum += prefs[p1][si[i]] * prefs[p2][si[i]];
                }

                var num = pSum - (sum1 * sum2 / n);
                var den = Math.sqrt((sum1Sq - Math.pow(sum1, 2) / n) *
                    (sum2Sq - Math.pow(sum2, 2) / n));

                if (den == 0){
                    $scope.pearsonResult = 0;
                } else {
                    $scope.pearsonResult = num / den;
                }
            }

            $scope.getRainfall = function (transducer_id, recording_time) {
                $scope.rainfall = {};
                $date = recording_time.substring(0, 10);
                var url = "/rainfall/get/";
                url = url.concat($date);
                $http.get(url)
                    .success(function (rain) {
                        rain.sort(function (a, b) {
                            return $scope.calculateDistance(a.latitude, a.longitude, $scope.location.latitude, $scope.location.longitude) - $scope.calculateDistance(b.latitude, b.longitude, $scope.location.latitude, $scope.location.longitude);
                        });
                        $scope.rainfall = rain[0];
                        $scope.msg = "Got Rainfall";
                        console.log($scope.rainfall);
                    })
            }

            $scope.getLocation = function (transducer_id, recording_time) {
                var url = "/transducers/location/";
                $http.get(url.concat(transducer_id))
                    .success(function (location) {
                        $scope.location = location;
                        $scope.getRainfall(transducer_id, recording_time);
                    })
            }

            $scope.calculateDistance = function (lat1, lat2, lon1, lon2) {
                var R = 6371e3; // metres
                var phi1 = lat1.toRadians();
                var phi2 = lat2.toRadians();
                var deltaphi = (lat2 - lat1).toRadians();
                var deltalambda = (lon2 - lon1).toRadians();

                var a = Math.sin(deltaphi / 2) * Math.sin(deltaphi / 2) +
                    Math.cos(phi1) * Math.cos(phi2) *
                    Math.sin(deltalambda / 2) * Math.sin(deltalambda / 2);
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

                var d = R * c;

                return d;
            }

            $scope.insertRecording = function () {
                $datetime = $filter('date')($scope.recording_time, 'yyyy-MM-dd HH:mm:ss');
                console.log($datetime);
                $http.post("/recordings/add", { 'transducer_id': $scope.transducer_id, 'temperature': $scope.temperature, 'conductivity': $scope.conductivity, 'pressure': $scope.pressure, 'salinity': $scope.salinity, 'tds': $scope.tds, 'recording_time': $datetime })
                    .success(function () {
                        $scope.msg = "Data Inserted";
                        $scope.displayRecordings();
                    })
            }

            $scope.displayRecordings = function () {
                $http.get("/recordings/all")
                    .success(function (data) {
                        $scope.data = data;
                        console.log('Got Data');
                })
            }

            $scope.searchRecordingsByID = function (transducer_id) {
                    var url = "/recordings/get/"
                    url = url.concat(transducer_id);
                    $http.get(url)
                        .success(function (data) {
                            $scope.data = data;
                            $scope.msg = "Search Successful";
                        })
                }
            
            $scope.searchRecordingsByTime = function (transducer_id, start_time, end_time) {
                    var start = $filter('date')(start_time, 'yyyy-MM-dd HH:mm:ss');
                    var end = $filter('date')(end_time, 'yyyy-MM-dd HH:mm:ss');
                    var startDate = start.substring(0, 10);
                    var startTime = start.substring(11, 19);
                    var endDate = end.substring(0, 10);
                    var endTime = end.substring(11, 19);
                    var url = "/recordings/get/"
                    url = url.concat(transducer_id + "/" + startDate + "/" + startTime + "/" + endDate + "/" + endTime);
                    $http.get(url)
                        .success(function (data) {
                            $scope.data = data;
                            $scope.msg = "Search Successful";
                        })
                }

            $scope.deleteRecording = function (transducer_id, recording_time) {
                $date = recording_time.substring(0, 10);
                $time = recording_time.substring(11, 19);
                //console.log($date);
                //console.log($time);
                var url = "/recordings/delete/";
                url = url.concat(transducer_id);
                url = url.concat("/");
                url = url.concat($date);
                url = url.concat("/");
                url = url.concat($time);
                $http.delete(url)
                    .success(function ($response) {
                        $scope.msg = "Data Deletion successful";
                         $scope.displayRecordings();
                    })
            }

            $scope.editRecording = function (transducer_id, recording_time) {
                $date = recording_time.substring(0, 10);
                $time = recording_time.substring(11, 19);
                var url = "/recordings/edit/"
                url = url.concat(transducer_id);
                url = url.concat("/");
                url = url.concat($date);
                url = url.concat("/");
                url = url.concat($time);
                $http.put(url, {
                    'temperature': $scope.temperature, 'conductivity': $scope.conductivity,'pressure': $scope.pressure, 'salinity': $scope.salinity, 'tds': $scope.tds })
                    .success(function () {
                        $scope.msg = "Data Edit successful";
                         $scope.displayRecordings();
                    })
            }

            $(document).ready(function () {

                function browserSupportFileUpload() {
                    var isCompatible = false;
                    if (window.File && window.FileReader && window.FileList && window.Blob) {       isCompatible = true;
                    }
                    return isCompatible;
                }

                document.getElementById('txtFileUpload').addEventListener('change', upload, false);

                function upload(evt) {
                    if (!browserSupportFileUpload()) {
                        alert('The File APIs are not fully supported in this browser!');
                    } else {
                        var data = null;
                        var file = evt.target.files[0];
                        var reader = new FileReader();
                        reader.readAsText(file);
                        reader.onload = function (event) {
                            var csvData = event.target.result;
                            data = $.csv.toArrays(csvData);
                            if (data && data.length > 0) { 
                                var transducer_choice = $scope.upload_id;
                                for(i = 0; i < data.length; i++) {
                                    var date = new Date("" + data[i][1] + " " + data[i][2]);
                                    var milliseconds = date.getTime();
                                    $datetime = $filter('date')(milliseconds, 'yyyy-MM-dd HH:mm:ss');
                                    //console.log($datetime);
                                    $http.post("/recordings/add", {
                                        'transducer_id': transducer_choice,
                                        'temperature': data[i][3],
                                        'conductivity': data[i][4],
                                        'pressure': data[i][5],
                                        'salinity': data[i][6],
                                        'tds': data[i][7],
                                        'recording_time': $datetime
                                    }).success(function () {
                                        $scope.msg = "Data Inserted";
                                        //$scope.displayRecordings();
                                    })
                                }
                                $scope.displayRecordings();
                            } else {
                                alert('No data to import!');
                            }
                        };
                        reader.onerror = function() {
                            alert('Unable to read ' + file.fileName);
                        };
                    }
                }

            });

        });
        
        
    </script>
</body>

</html>