<!DOCTYPE html>
<style>
    body {
        background-image: url("https://i.ytimg.com/vi/8myYyMg1fFE/maxresdefault.jpg");
        background-color: #cccccc;
        color: #ffffff;
        text-shadow: 1px 1px #000000, -1px 1px #000000, 1px -1px #000000, -1px -1px #000000
    }
</style>

<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
<div w3-include-html="topnav.html"></div>
<script>
    w3IncludeHTML();
</script>
    <div ng-app="myApp" ng-controller="cntrl">
        <form>
            Name: <input type="text" ng-model="name">
            Type: <input type="text" ng-model="type">
            Well ID: <input type="text" ng-model="well_id">
            <input type="button" value="{{btnName}}" ng-click="insertTransducer()"> {{msg}}
            <input type="button" value="Display All" ng-click="displayTransducers()">
        </form>
        <table>
            <thead>
                <tr>
                    <th>ID</td>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Well ID</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transducer in data">
                    <td>{{transducer.id}}</td>
                    <td>{{transducer.name}}</td>
                    <td>{{transducer.type}}</td>
                    <td>{{transducer.well_id}}</td>
                    <td><button ng-click="deleteTransducer(transducer.id);">Delete</button></td>
                    <td><button ng-click="editTransducer(transducer.id);">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('cntrl', function ($scope, $http) {
            $scope.btnName = "Insert";

            $scope.insertTransducer = function () {
                $http.post("/transducers/add", {'name': $scope.name, 'type': $scope.type, 'well_id': $scope.well_id})
                    .success(function () {
                        $scope.msg = "Data Inserted";
                        $scope.displayTransducers();
                    })
            }

            $scope.displayTransducers = function () {
                $http.get("/transducers/all")
                    .success(function (data) {
                        $scope.data = data
                        console.log('Got Data');
                    })
            }

            $scope.deleteTransducer = function (id) {
                var url = "/transducers/delete/";
                url = url.concat(id);
                $http.delete(url)
                    .success(function () {
                        $scope.msg = "Data Deletion successful";
                        $scope.displayTransducers();
                    })
            }

            $scope.editTransducer = function (id) {
                var url = "/transducers/edit/"
                url = url.concat(id);
                $http.put(url, {'name': $scope.name, 'type': $scope.type, 'well_id': $scope.well_id})
                    .success(function () {
                        $scope.msg = "Data Edit successful";
                        $scope.displayTransducers();
                    })
                $scope.displayTransducers();
            }
        });
    </script>
</body>

</html>