<!DOCTYPE html>
<head>
    <style>
        body {
            /*background-image: url("https://i.ytimg.com/vi/8myYyMg1fFE/maxresdefault.jpg");*/
            background-color: #cccccc;
            color: #ffffff;           
        }
        .btn-bs-file{
            position:relative;
        }
        .btn-bs-file input[type="file"]{
            position: absolute;
            top: -9999999;
            filter: alpha(opacity=0);
            opacity: 0;
            width:0;
            height:0;
            outline: none;
            cursor: inherit;
        }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://www.w3schools.com/lib/w3data.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- W3 For Modal -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <script type="text/javascript">
        $(document).ready(function(){
            $(".btn").click(function(){
                $("#myModal").modal('show');
            });
        });
    </script>
</head>
<body>

<div w3-include-html="topnav.html"></div>
<script>
    w3IncludeHTML();
</script>
    <legend>Input your Transducer Data Manually</legend>
    <div ng-app="myApp" ng-controller="cntrl">
        <!--begin modal-->
         <div class="bs">
            <!-- Modal HTML -->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="form-group" style="margin-bottom:20px; padding-left: 15px;"> 
                            <label for="Name">Name:&emsp;</label>
                            <input type="text" class="form-control" id="text" placeholder="Enter name" ng-model="name">
                            </div>
                            <div class="form-group" style="margin-bottom:20px; padding-left: 15px;">  
                            <label for="Type">Type:&emsp;</label>
                            <input type="text" class="form-control" id="text" placeholder="Enter type" ng-model="type">
                            </div>
                            <div class="form-group" style="margin-bottom:20px; padding-left: 15px;">  
                            <label for="Well ID">Well ID:&emsp;</label>
                            <select class="form-control" id="text" ng-model="well_id">
                                <option ng-repeat="well in wells" value="{{well.well_id}}">ID {{well.well_id}}: {{well.type_code}}, {{well.aquifer_code}}, {{well.well_usage}}</option> 
                            </select>
                            </div>
                            <input type="button" class="btn btn-primary" value="{{btnName}}" ng-click="insertTransducer()"> {{msg}}
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>   
        <div class="w3-center">
            <a href="#myModal" class="w3-center btn btn-primary">Manual Input</a>        
            <input type="button" class="w3-button w3-blue" value="Display All" ng-click="displayRecordings()">    
        </div> 
        <!--end modal-->
            <div style="padding-top: 10px; padding-bottom: 5px;">
                
                <input type="button" class="btn btn-primary" value="Display All" ng-click="displayTransducers()">
            </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</td>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Well ID</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="transducer in data">
                    <td>{{transducer.id}}</td>
                    <td>{{transducer.name}}</td>
                    <td>{{transducer.type}}</td>
                    <td>{{transducer.well_id}}</td>
                    <td><button class="btn btn-danger" ng-click="deleteTransducer(transducer.id);">Delete</button></td>
                    <td><button class="btn btn-primary" ng-click="editTransducer(transducer.id);">Edit</button></td>
                    <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#recordingModal" ng-click="setRecordingData(transducer.id)">Recordings</button></td>
                </tr>
            </tbody>
        </table>

        <!-- Start Recording Modal -->

        <div id="recordingModal" class="modal">
            <div class="w3-container w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                <!-- Close modal -->
                <!--span onclick="document.getElementById('recordingModal').style.display='none'" class="w3-button w3-xlarge w3-hover-red w3-display-topright"
                    title="Close Modal">&times;</span-->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Temperature</th>
                            <th>Conductivity</th>
                            <th>Pressure</th>
                            <th>Salinity</th>
                            <th>TDS</th>
                            <th>Recording Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="recording in recording_data">
                            <td>{{recording.temperature}}</td>
                            <td>{{recording.conductivity}}</td>
                            <td>{{recording.pressure}}</td>
                            <td>{{recording.salinity}}</td>
                            <td>{{recording.tds}}</td>
                            <td>{{recording.recording_time}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                    <!-- Close modal -->
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#recordingModal">Close</button>
                </div>
            </div>
        </div>

        <!-- End Recording Modal -->

    </div>

    

    <script>
        var app = angular.module('myApp', []);
        app.controller('cntrl', function ($scope, $http) {
            $http.get('/wells/all').success(function (data) { $scope.wells = data; });
            $scope.btnName = "Insert";

            $scope.setRecordingData = function (id) {
                $scope.recording_data = [];
                var url = "/recordings/get/";
                $http.get(url.concat(id))
                    .success(function (recording_data) {
                        $scope.recording_data = recording_data;
                        console.log('Got Recording Data');
                        console.log($scope.recording_data);
                    })
                    .error(function (recording_data) {
                        $scope.recording_data = [
                            {

                            }
                        ];
                        console.log(id + ": No Recordings");
                    })
            }

            $scope.insertTransducer = function () {
                $http.post("/transducers/add", {'name': $scope.name, 'type': $scope.type, 'well_id': $scope.well_id})
                    .success(function () {
                        $scope.msg = "Data Inserted";
                        $scope.displayTransducers();
                    })
            }

            $scope.displayTransducers = function () {
                $http.get("/transducers/all")
                    .success(function (data) {
                        $scope.data = data
                        console.log('Got Data');
                    })
            }

            $scope.deleteTransducer = function (id) {
                var url = "/transducers/delete/";
                url = url.concat(id);
                $http.delete(url)
                    .success(function () {
                        $scope.msg = "Data Deletion successful";
                        $scope.displayTransducers();
                    })
            }

            $scope.editTransducer = function (id) {
                var url = "/transducers/edit/"
                url = url.concat(id);
                $http.put(url, {'name': $scope.name, 'type': $scope.type, 'well_id': $scope.well_id})
                    .success(function () {
                        $scope.msg = "Data Edit successful";
                        $scope.displayTransducers();
                    })
                $scope.displayTransducers();
            }
        });
    </script>
</body>

</html>